{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Palette</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/skel.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style-xsmall.css">
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="">Palette</a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Palette</h2>
				<p>; 너의 마음이 보여</p>
			</section>

		
			<section class="wrapper special" style="background-color: white;">
				<div class="container row imgbox">
					
					<div class="img1">
						<img src="/static/images/mic.png" />
					</div>
					<div class="sub2" >
						<h2 class="home-main-title" style="font-weight: 700;">
							<br>당신의 이야기를<br>
							들려주세요
						</h3>
						<p class="text-m">
							대화 내용을 AI를 통해<br>
							감정을 분석해드려요
						</p>
					</div>
				</div>
			</section>

			<section class="wrapper special" style="background-color: #FBF7F2;">
				<div class="container row imgbox" >
					
					<div class="sub1" >
						<h2 class="home-main-title" style="font-weight: 700;">
							멋진 얼굴을<br>
							보여주세요
						</h3>
						<p class="text-m">
							얼굴 표정을 AI를 통해<br>
							감정을 분석해드려요
						</p>
					</div>
					<div class="img2" >
						<img src="/static/images/face.png" />
					</div>
				</div>
			</section>

			<section class="wrapper special" style="background-color: #E6F3EF;">
				<div class="container row imgbox" >
					
					<div class="img1" >
						<img src="/static/images/diary.png" />
					</div>

					<div class="sub2" >
						<h2 class="home-main-title" style="font-weight: 700;">
							<br>기록된 감정을<br>
							한눈에 봐요
						</h3>
						<p class="text-m">
							감정 결과를 색깔로<br>
							한눈에 볼 수 있어요
						</p>
					</div>

				</div>
			</section>

			<section class="wrapper special" style="background-color: #F8F9FA;">
				<div class="container row imgbox">
					
					<div class="sub1" >
						<h2 class="home-main-title" style="font-weight: 700;">
							자판기로 상품을<br>
							받을 수 있어요
						</h3>
						<p class="text-m">
							발급받은 QR코드를 자판기에<br>
							인식 시켜 상품을 받을 수 있어요
						</p>
					</div>
					<div class="img2">
						<img src="/static/images/last.png" />
					</div>
				</div>
			</section>
		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>다운로드</h2>
					</header>
					
					<footer>
						<ul class="actions">
							<li>
								<a href="/static/images/palette.apk" type="application/vnd.android.pakage-archive" class="button big">Android</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					
					<div class="row">
						<div class="logo">
							<ul class="copyright">
								<li>© 갱상도</li>
							</ul>
						</div>
						<div class="iconset">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook" href="https://www.facebook.com/hellossafy/"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter" href="https://twitter.com/hashtag/ssafy"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-instagram" href="https://www.instagram.com/hellossafy/?hl=ko" style="background-color:hotpink;"><span class="label">Instagram</span></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>

<style>
	/* @font-face {
		font-family: 'Cafe24Oneprettynight';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	*{
		font-family: 'Cafe24Oneprettynight';
		font-weight: normal;
		font-style: normal;
	} */
	.text-m{
		font-size: 1.0rem !important;
		line-height: 1.5;
		letter-spacing: -0.3px;
	}

</style>